* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Roboto', 'Arial', sans-serif;
    overflow-wrap: break-word;
    word-wrap: break-word;
    font-size: 14px;
    font-weight: 100;
}

.container {
    max-width: 100%;
    min-width: 320px;
}

.wrap {
    min-width: 320px;
    max-width: 990px;
    padding: 0 15px;
    margin: 0 auto;
    box-sizing: border-box;
}

.vistually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0,0,0,0);
    overflow: hidden;

}

.pic {
    display: block;
}